$red-color: #d11a02;
$yellow-color: #f2ee0f;
$blue-color: #2637ed;
$green-color: #1eba06;
$black-color: #000000;

.main-container {
    min-height: calc(100vh - 68px);

    .header {
        font-style: italic;
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .red-color {
        color: $red-color;
    }

    .yellow-color {
        color: $yellow-color;
    }

    .blue-color {
        color: $blue-color;
    }

    .green-color {
        color: $green-color;
    }

    .black-color {
        color: $black-color;
    }

    .circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        border-radius: 50%;
    }

    .red-bg {
        background-color: $red-color;
    }

    .yellow-bg {
        background-color: $yellow-color;
    }

    .blue-bg {
        background-color: $blue-color;
    }

    .green-bg {
        background-color: $green-color;
    }

    .black-bg {
        background-color: $black-color;
    }

    .red-underline {
        border-bottom: 1px solid $red-color;
    }

    .yellow-underline {
        border-bottom: 1px solid $yellow-color;
    }

    .blue-underline {
        border-bottom: 1px solid $blue-color;
    }

    .green-underline {
        border-bottom: 1px solid $green-color;
    }

    .black-underline {
        border-bottom: 1px solid $black-color;
    }

    .capitalize {
        text-transform: capitalize;
    }
}

.mdl-mini-footer {
    justify-content: center;
    padding: 16px;
}